@use './fonts';
@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-main;
  background-color: $color-bg-primary;
  color: $color-text-primary;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}